/* CartItem.module.css */

.cartitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .description {
    flex: 1;
    padding-right: 20px;
  }
  
  .foodphoto img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
  }
  
  .amountselect select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .price {
    font-weight: bold;
    padding: 10px;
  }
  
  .faTimes {
    cursor: pointer;
    color: #ff0000;
  }
  
  .faTimes:hover {
    color: #cc0000;
  }
  