.signup {
    width: 100%;
    max-width: 30rem;
    margin: 6rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .control {
    margin-bottom: 10px;
  }
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .invalid {
    color: red;
  }
  
  .invalid input {
    border-color: red;
  }
  
  .invalid p {
    margin-top: 5px;
    font-size: 12px;
  }
  
  
  .agreementTerms {
    margin-top: 2rem;
  }
  
  .agreementTerms p {
    margin-bottom: 0.5rem;
  }
  
  .createButton{
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #32c964; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Cursor style */
    font-size: 1rem; /* Font size */
    max-width: 200px; /* Limit the maximum width */
  }

  .createButton:hover {
    background-color: #0056b3;
  }

  .createButton:disabled {
    background-color: #ccc; /* Change background color when disabled */
    cursor: not-allowed; /* Change cursor when disabled */
  }
  
